

.header {
  text-align: center;
  width: 60%;
  margin: auto;
  padding-top: 10px;
}

.links {
  position: absolute;
  padding-top: 10px;
  top: 2%;
  right: 2%;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 14px;
}

.links a:hover { 
  text-decoration: none;
}

.flash-messages {
  position: absolute;
  right: 2%;
  top: 8%;
  width: 25%;
  z-index: 3;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 16px;
}

label {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

.form-control {
  font-family: 'Roboto', sans-serif;
  font-weight: 300px;
}

.modal-header {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

.modal-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

.modal-content {
  border-radius: 0px;
}

hr { 
  background-color: rgba(50, 49, 47, 0.3);
  height: 1px; 
  border: 0; 
}

h1 {
  font-family: 'Syncopate', sans-serif;
  font-weight: 400;
  font-size: 60px;
  margin: 10px;
}

.left-input {
  width: 49.5% !important;
}

.right-input {
  width: 49.5% !important;
}

.form-control {
  border-radius: 0px !important;
}

.subtitle {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 20px;
}

#body-part {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  text-transform: lowercase;
  padding-bottom: 20px;
  font-size: 18px;
}

.hidden {
  visibility: hidden;
}

#body {
  @include fill-parent();
  text-align: center;
  position: relative;
  z-index: 2;
  width: auto;
  min-width: 320px;
  margin: auto;
  margin-left: -6%;
  margin-bottom: 70px;

  img {
    width: 100%;
  }
}

.clicked-body-part {
  background: rgba(255, 0, 0, .7);
}

.body-style {
  position: absolute;
  z-index: 3;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  cursor: pointer;
}

.body-style:hover {
  background: rgba(255, 0, 0, .3);
}

#knee {
  top: 67%;
  left: 60.2%;
}


#knee2 {
  top: 67%;
  left: 70.2%;
}

#knee3 {
  top: 68%;
  left: 31%;
}

#knee4 {
  top: 68%;
  left: 21%;
}

#ankle {
  top: 86%;
  left: 59.2%;
}

#ankle2 {
  top: 86%;
  left: 70.5%;
}

#ankle3 {
  top: 91%;
  left: 32.2%;
}

#ankle4 {
  top: 91%;
  left: 19.7%;
}

#foot {
  top: 93%;
  left: 71.5%;
}

#foot2 {
  top: 93%;
  left: 58.6%;
}

#hand {
  top: 51%;
  left: 76%;
}

#hand2 {
  top: 51%;
  left: 54.2%;
}

#hand3 {
  top: 51%;
  left: 37%;
}

#hand4 {
  top: 51%;
  left: 15%;
}

#elbow {
  top: 34%;
  left: 76.2%;
}

#elbow2 {
  top: 34%;
  left: 54%;
}

#elbow3 {
  top: 35%;
  left: 37.4%;
}

#elbow4 {
  top: 35%;
  left: 15%;
}

#wrist {
  top: 45%;
  left: 76.5%;
}

#wrist2 {
  top: 45%;
  left: 53.5%;
}

#wrist3 {
  top: 45%;
  left: 37.5%;
}

#wrist4{
  top: 45%;
  left: 14.5%; 
}

#shoulder {
  top: 19%;
  left: 73%;
}

#shoulder2 {
  top: 19%;
  left: 57%;
}

#shoulder3 {
  top: 19%;
  left: 34%;
}

#shoulder4 {
  top: 19%;
  left: 18%;
}

#spine {
  top: 39%;
  left: 25.6%;
}

#spine2 {
  top: 32%;
  left: 25.6%;
}

#spine3 {
  top: 25%;
  left: 25.6%;
}

#spine4 {
  top: 18%;
  left: 25.6%;
}

#spine5 {
  top: 12%;
  left: 25.6%;
}

#hip {
  top: 43%;
  left: 31%;
}

#hip2 {
  top: 43%;
  left: 20.8%;
}

#hip3 {
  top: 43%;
  left: 60%;
}

#hip4 {
  top: 43%;
  left: 70.3%;
}

.surgeons {
  @include span-columns(3.5);
  border: none;
  height: 100vh;
  z-index: 2;
  margin-left: 2%;
  margin-bottom: 2%;
  position: relative;
}

.surgeon-list {
  height: 103vh;
  overflow-y: scroll;
  width: 100%;
}


//JIM'S STUFF

// .surgeon-list.ng-hide {
//   width: 0;
// }

// .surgeon-list.ng-hide-add {

// }

// .surgeon-list.ng-hide-remove {
//   transition: 0s ease all;
// }

// .surgeon-list.ng-hide-add-active,
// .surgeon-list.ng-hide-remove-active {
//   transition: 0.5s ease all;
// }

// END JIM'S STUFF



.animate-hide {
 -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .5s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .5s;
    -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .5s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .5s;
  line-height:20px;
  opacity:1;
  border:none;
  background:white;
  position: absolute;
  left: 0;
}

.animate-hide.ng-hide {
  left: -100%;
}

.animate-hide-right {
 -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .5s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .5s;
    -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .5s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .5s;
  opacity:1;
  border:none;
  background:white;
  position: absolute;
  right: 0;
}

.animate-hide-right.ng-hide {
  right: -100%;
}


.surgeon {
  padding: 10px 10px 0px 10px;
  border: 1px solid rgba(50, 49, 47, 0.3);
  margin: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  display: block;
  background-color: white;
  width: 91%;
  position: relative;
}

.surgeon:hover {
  background-color: rgba(49, 101, 171, 0.2);
}

.surgeon:focus {
  outline: none;
  background-color: rgba(49, 101, 171, 0.2);
}

.surgeon-name {
  font-size: 18px;
  font-weight: 400;
  text-align: left;
}

.surgeon-group {
  text-transform: uppercase;
  font-size: 15px;
  text-align: left;
}

.surgeon-info {
  text-align: right;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300px;
  float: right;
}

.body-parts {
  @include span-columns(5);
  border: none;
  position: relative;
  z-index: 1;
  margin-left: -1%;
}

.selected-body-part {
  position: relative;
  z-index: 2;
}

.reviews {
  @include span-columns(3.5);
  border: none;
  height: 100vh;
  position: relative;
  z-index: 3;
  margin-right: 2%;
  margin-left: -4%;
  margin-bottom: 2%;
}

.review-list {
  height: 103vh;
  overflow-y: scroll;
}

.review {
  padding: 10px 10px 0px 10px;
  border: 1px solid rgba(50, 49, 47, 0.3);
  margin-left: 15px;
  margin-bottom: 15px;
  margin-top: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  width: 92%;
}

#reviews {
  margin-right: 0.5%;
}

#review-title {
  margin-left: 15px;
  margin-bottom: 15px;
  margin-top: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  margin-right: 2%;
}

#add-review {
  margin-left: 15px;
  margin-bottom: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  width: 95%;
  margin-right: 15px;
}

#review-body {
  width: 97%;
  height: 100px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding: 5px 8px;
  border: 1px solid rgba(50, 49, 47, 0.3);
}

#rating-dropdown {
  width: 25%;
  cursor: pointer;
  border: 0;
  outline: 1px inset rgba(50, 49, 47, 0.3);
  outline-offset:-1px;
  margin-bottom: 10px;
}

#add-review-link {
  text-align: center;
  width: 95%;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 3px;
}

#specialty {
  text-align: center;
  color: rgb(255, 0, 0);
}

.rating-number {
  float: right;
  font-size: 34px;
  font-family: 'Syncopate', sans-serif;
  font-weight: 400;
  position: absolute;
  right: 7%;
  padding-top: 18px;
}

.rating-title {
  float: right;
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 1%;
  position: relative;
  z-index: 4;
}

.review-info {
  font-weight: 400;
  width: 80%;
}

.review-text {
  width: 80%;
}

.review-date {
  font-size: 12px;
}

.num-reviews {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
}

.rating-average {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 18px;
  background-color: rgba(49, 101, 171, 1);
  color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  padding-top: 14px;
  float: left;
  position: absolute;
  bottom: 7%;
}

#submit-review-button {
  float: right;
  margin-right: 3%;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

#cancel-tag {
  cursor: pointer;
  margin-left: 55%;
  font-size: 15px;
  line-height: 37px;
}

.btn-primary {
  border-radius: 0px !important;
  font-size: 15px;
}


// FOR FOOTER

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px; /* bottom = footer height */
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    padding-top: 35px;
    z-index: 5;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    padding-right: 2%;
    padding-left: 2%;
    padding-bottom: 2%;
}

#footer-info {
  padding-bottom: 6%;
}

.footer-left {
  float: left;
  line-height: 3.5;
}

.footer-right {
  float: right;
  text-align: right;
}
